[server]
api = https://api.wildapricot.org
auth = https://oauth.wildapricot.org/auth/token
version = v2.1

[client]
# The organization account ID, which can be found via the `/accounts` endpoint.
account-id = 
# API key configured at wildapricot.org/admin/settings/integration/authorized-applications/
secret = 

[archive]
# Comma-delimited list of member levels to auto-archive alongside non-members.
levels =
# Number of days without a login after which non-members get automatically
# archived.
threshold = 60
