[server]
auth = https://oauth.wildapricot.org/auth/token
api = https://api.wildapricot.org
version = v2.1

[client]
# The API key used for this application.
secret = 
# The organization account ID, which can be found via the `/accounts` endpoint.
account-id = 

[options]
# Number of days without a login after which non-members get automatically
# archived.
archive-threshold = 60
