[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauthlib = "*"
requests-oauthlib = "*"
python-dateutil = "*"
tzlocal = "*"
pydiscourse = "*"

[dev-packages]

[requires]
python_version = "3"
